.groupchatdiv {
    background: rgb(176, 173, 173);
    height: 400px;
    padding: 20px;
    width: 500px;
    background: lighten(brown, 20%);
    border: 5px dashed brown;
    box-shadow: 0 0 0 (2.5) darken(brown, 20%),
        0 0 0 (12.5px) #fff,
        inset 0 0 0 (2.5px) darken(brown, 20%),
        0 5px (10px) (15px) rgba(0, 0, 0, 0.5),
        inset 0 0 0 (5px * 1.2) #fff,
        inset 0 0 100vw 100vw beige;
    color: brown;
    font-family: Marcellus,
        serif;
    text-shadow: 0 2px #fff;
    text-align: center;
    position: absolute;
    z-index: 54000;
    bottom: 90px;
}

.groupchatmessages {
    height: 330px;
    width: 500px;
    overflow-anchor: auto;
    background-color: rgb(244, 240, 240);
    overflow-y: scroll;
    display: flex;
    color: black;
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    flex-direction: column;
}

.groupchatform {
    width: 500px;
    display: flex;
}

.groupchatinput {
    width: 450px;
    height: 38px;
    background: white;
}

.groupchatbutton {
    width: 50px;
    cursor: pointer;

}

.h2pubchat {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
