.offerform {
    min-height: 450px;
    width: 350px;
    background-color: rgba(98, 74, 63, 1);
    padding: 20px;
    padding-top: 50px;
    border-radius: 24px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    outline: rgb(232, 156, 15) solid 1px;

}

.h2makeoffer {
    color: yellow;
    background-color: rgb(93, 92, 92);
    border: rgb(98, 74, 63) solid 2px;
    width: calc(100% + 20px);
    text-align: center;
    outline: rgb(232, 156, 15) solid 1px;
    /* margin-right: -20px;
    margin-left: -20px; */
    padding: 8px;
    /* border-radius: 24px; */
}

.formforoffers {
    display: flex;
    flex-direction: column;
}

.itemimage2 {
    height: 180px;
    width: 180px;
    position: absolute;
    bottom: 0px;

}

.eachItemHolder {
    border: rgb(98, 74, 63) solid 1px;
    outline: rgb(232, 156, 15) solid 1px;

    display: flex;
    position: relative;
    width: 180px;
    height: 200px;
    background-color: whitesmoke;
    flex-direction: column;
}

.delanitem {
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 22px;
}

.itemnameoffer {
    position: absolute;
    border: black 1px solid;
    z-index: 1;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(93, 92, 92);
    color: cyan;

}

.divlineoffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: calc(100%);
    border-radius: 12px;
    border: rgba(232, 156, 15, .3) groove 1px;

    margin-bottom: 5px;
    font-weight: bold;
    color: yellow;
}

.divlineoffer div {
    font-weight: normal;
    color: black;
}

.offersul {
    border: groove rgb(232, 156, 15) 1px;
    background: linear-gradient(90deg, rgb(44, 31, 9) 0%, rgb(30, 24, 5) 35%, rgba(36, 21, 5, 1) 83%);
    width: 500px;
    padding: 20px;
    border-radius: 12px;

    /* border: solid red 4px; */
}

.cashli {
    list-style: none;
    border: rgba(232, 156, 15, .3) groove 1px;
    background-color: rgb(118, 116, 116);
    padding: 5px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.itemimage5 {
    height: 100px;
    width: 100px;
}


.offeritems {
    background-color: rgba(248, 248, 255, .5);
    padding: 3px;
    color: black;
    font-weight: bold;
    display: flex;
    height: 140px;
    width: calc(100% - 6px);
    overflow-x: scroll;
    flex-direction: row;
    border-radius: 2px 2px 12px 12px;
    border: rgba(232, 156, 15, .3) groove 1px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}



::-webkit-scrollbar-track {
    background: #837f7f;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #312525;
}

.eachofferitem {
    border: solid black 1px;
    margin-right: 3px;
    margin-left: 3px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.nonediv {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-style: italic;

}

.offerformbutton {
    position: absolute;
    color: yellow;
    background-color: rgb(93, 92, 92);
    text-align: center;
    outline: rgb(232, 156, 15) solid 1px;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.offerformbutton:hover {
    background-color: #837f7f;
}

.buttontoopenoffers {
    position: absolute;
    color: yellow;
    right: 12px;
    background-color: rgb(93, 92, 92);
    text-align: center;
    outline: rgb(232, 156, 15) solid 1px;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.buttontoopenoffers:hover {
    background-color: #837f7f;

}
