.navbar-container {
    display: flex;
    flex-direction: row;
    background: linear-gradient(360deg, rgb(237, 232, 232) 0%, rgb(98, 74, 63) 100%);
    color: black;
    width: 100%;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    padding: 5px;
}

.navbarli {
    color: black;
    list-style: none;
    height: 32px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(93, 92, 92);
    border: groove rgb(232, 156, 15) 1px;
    cursor: pointer;
    border-radius: 5px;
    flex-direction: column;

}

.navbarli2 {
    color: black;
    list-style: none;
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(93, 92, 92);
    border: groove rgb(232, 156, 15) 1px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    flex-direction: column;
    color: rgb(255, 255, 0);
    font-size: 18px;
}

.navlinknav {
    color: black;
    text-decoration: none;
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: yellow;
}

.userbuttonsli {
    position: absolute;
    right: 15px;
}

.loginsignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 90px;
    top: 40px;
    right: 0px;
    padding: 5px;
    background: linear-gradient(360deg, rgb(98, 74, 63) 0%, rgb(237, 232, 232) 100%);
    z-index: 499;
}

.boximage2 {
    height: 31px;
    width: 31px;
}

.boximage {
    height: 50px;
    width: 50px;
}

.bagicon {
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 0px;
    height: 60px;
    width: 60px;
    border-radius: 12px;
    z-index: 5000;
}

#dropdown {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    height: 110px;
    width: 200px;
    top: 40px;
    margin: 0;
    position: absolute;
    z-index: 100;
    align-self: center;
    background-color: rgb(199, 200, 195);
    border-radius: 0 0 12px 12px;
    border: groove rgb(232, 156, 15) 1px;
    border-top: 0;


}



@keyframes godown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown {
    animation: godown .4s;
}

.loginsignupele {
    margin: 3px;
    border: groove rgb(232, 156, 15) 1px;
    background-color: rgb(93, 92, 92);
    height: 30px;
    width: 90%;

}

/* .active {
    box-shadow: 0 0 3px 3px rgba(255, 255, 0, .3);
} */
.housebox {
    position: absolute;
    left: 10px;
}

.housebox2 {
    position: absolute;
    right: 70px;
}
