.messenger {
    background-color: whitesmoke;
    max-height: 80vh;
    height: 600px;
    position: relative;
    display: flex;
    border: solid black 1px;
    border-radius: 12px;
}

.messagebottom {
    position: absolute;
    bottom: 0px;
    /* left: 200px; */
    width: calc(100% - 150px);
}

.chatusernames {
    /* border: solid 1px black; */
    background: linear-gradient(90deg, rgba(44, 31, 9, .8) 0%, rgba(30, 24, 5, .8) 35%, rgba(36, 21, 5, .8) 82%);

    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 150px;
    min-width: 150px;
    position: relative;
    border-radius: 12px 0 0 12px;
}

.indivname {
    width: 100%;
    text-align: center;
    border-top: groove 1px black;
    background: ghostwhite;
    border-bottom: groove 1px black;
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.indivname:hover {
    background-color: rgb(78, 77, 77);
    cursor: pointer;
    color: yellow;
}

.chatarea {
    /* background: blue; */
    padding: 10px;
    width: calc(100% - 150px);
    height: 530px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.eachmessageprivate {
    border-bottom: solid 1px black;
}

.messageformbox {
    position: relative;
    left: -10px;
    width: calc(100% - 10px)
}

.messageformboxinput {
    width: 80%;
    height: 45px;
}

#selected {
    background-color: rgb(64, 64, 67);
    color: yellow;
}

.sendmessagebut {
    width: calc(20% - 10px);
    height: 50px;
    cursor: pointer;
}

.searchname {
    position: absolute;
    bottom: -10px;
    width: 100%;
    border-radius: 0px 0px 0px 12px;
}

.searchuserbackground {
    background: linear-gradient(90deg, rgba(44, 31, 9, 1) 0%, rgba(30, 24, 5, 1) 35%, rgba(36, 21, 5, 1) 82%);
    width: 300px;
    padding: 20px;
    overflow-y: scroll;
    max-height: 500px;
    border-radius: 12px;
}

.eachuserinsearchuser {
    color: yellow;
    width: 100%;
    position: relative;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    display: flex;
    align-items: center;
    padding: 5px;
    height: 30px;
    border-bottom: solid orange 1px;
    border-top: solid orange 1px;
}

.eachuserinsearchuser:hover {
    background-color: rgb(139, 91, 91);

}

.buttontomessage {
    position: absolute;
    right: 5px;
    cursor: pointer;
    width: 80px;
    height: 25px;
    border-radius: 25px;
    /* padding: 5px; */
    text-align: center;
    background-color: rgb(230, 224, 224);
    font-weight: bold;
}

.buttontomessage:hover {
    background-color: rgb(44, 44, 42);
    color: whitesmoke;
}
