.messenger {
    background-color: whitesmoke;
    max-height: 80vh;
    height: 600px;
    position: relative;
    display: flex;
    border: solid black 1px;
    border-radius: 12px;
}

.messagebottom {
    position: absolute;
    bottom: 0px;
    left: 200px;
}

.chatusernames {
    /* border: solid 1px black; */
    width: 200px;

    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.indivname {
    width: 100%;
    text-align: center;
    border-bottom: groove 1px black;
    font-size: 15px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.indivname:hover {
    background-color: grey;
    cursor: pointer;
}

.chatarea {
    /* background: blue; */
    padding: 10px;
    width: 100%;
    height: 530px;
}
